<!DOCTYPE html>
<html  ng-app="busBooking" ng-controller="busCtrl">
<head>
    <link href="http://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet">
    <link type="text/css" rel="stylesheet" href="/materialize/dist/css/materialize.min.css"  media="screen,projection"/>
    <link type="text/css" rel="stylesheet" href="/custom/css/goibibo.css">
    <link type="text/css" rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.3/css/font-awesome.min.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
    <script src="main.js"></script>
</head>

<body class="background-color">


    <nav class="white">
        <div class="nav-wrapper">
            <div class="row">
                <div class="col s2 m2 l2">
                    <a href="#" class="brand-logo">
                        <img src="custom/images/goLogo.png" class="responsive-img goLogo">
                    </a>
                </div>
                <div class="col s10 m10 l10 search-bar-background">
                    <div class="search-bar">
                            <div class="row">
                                <div class="input-field col s3">
                                    <i class="fa fa-bus prefix"></i><i class="fa fa-arrow-left prefix" style="margin-left: 32px; font-size: 14px;"></i>
                                    <input placeholder="Source" id="source" ng-model="source" type="text" class="validate">
                                </div>
                                <div class="input-field col s3">
                                    <i class="fa fa-bus prefix"></i><i class="fa fa-arrow-right prefix" style="margin-left:32px; font-size: 14px;"></i>
                                    <input id="destination" ng-model="destination" type="text" class="validate" placeholder="Destination">
                                </div>
                                <div class="input-field col s3">
                                    <i class="fa fa-calendar prefix"></i>
                                    <input type="date" class="datepicker" ng-model="dateofdeparture" placeholder="Journey Date">
                                </div>
                                <div class="input-field col s3 " ng-click="searchBuses()">
                                    <div class="search-circle-div">
                                        <div style="margin-top: -11px;margin-left: 9px;"><i class="fa fa-search search-icon" style="font-size: 26px;"></i></div>
                                        <div class="white-text" style="margin-top: -66px;margin-left: 51px; font-weight: 700; font-size: 18px;"><span style="color: #f26722;">go</span> karde</div>
                                    </div>
                                </div>
                            </div>
                    </div>
                </div>

            </div>


        </div>
    </nav>

    <table class="highlight">
        <thead class="highlight col s12 m12 l12">
        <tr>
            <th data-field="id">S.No.</th>
            <th data-field="name"><a href="#" ng-click="sortType = 'name'; sortReverse = !sortReverse">Buses<span ng-show="sortType == 'name' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'name' && sortReverse" class="fa fa-caret-up"></span></a></th>
            <th data-field="price"><a href="#" ng-click="sortType = 'totalFare'; sortReverse = !sortReverse">Price<span ng-show="sortType == 'totalFare' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'totalFare' && sortReverse" class="fa fa-caret-up"></span></a></th>
            <th data-field="type"><a href="#" ng-click="sortType = 'BusType'; sortReverse = !sortReverse">Type<span ng-show="sortType == 'BusType' && !sortReverse" class="fa fa-caret-down"></span>
                <span ng-show="sortType == 'BusType' && sortReverse" class="fa fa-caret-up"></span></a></th>
            <th data-field="available" style="color: #039be5">Available</th>
            <th data-field="front" style="color: #039be5">Front</th>
            <th data-field="middle" style="color: #039be5">Middle</th>
            <th data-field="last" style="color: #039be5">Last</th>
        </tr>
        </thead>

        <tbody>
        <tr ng-repeat="bus in buses | orderBy:sortType:sortReverse | filter:searchFish">
            <td>{{buses.indexOf(bus)+1}}</td>
            <td>{{bus.TravelsName}}</td>
            <td>{{bus.totalFare}}</td>
            <td>{{bus.BusType}}</td>
            <td>{{bus.front.available+bus.middle.available+bus.back.available}}</td>
            <td>{{bus.front.available}}</td>
            <td>{{bus.middle.available}}</td>
            <td>{{bus.back.available}}</td>

        </tr>
        </tbody>
    </table>


    <!--Import jQuery before materialize.js-->
    <script type="text/javascript" src="/jquery/dist/jquery.min.js"></script>
    <script type="text/javascript" src="/materialize/dist/js/materialize.min.js"></script>
    <script type="text/javascript" src="/moment/min/moment.min.js"></script>
    <script>
        $('.datepicker').pickadate({
            selectMonths: true, // Creates a dropdown to control month
            selectYears: 15 // Creates a dropdown of 15 years to control year
        });
    </script>
</body>
</html>