.goLogo{
   height:auto;
    width: 53%;
    margin-top: 6px;
    margin-left: 12px;
}
.background-color{
    background-color: whitesmoke;
}
.search-bar {
    height:64px;
}

.search-bar-background{
    background-color: #2d67b2;
}
.search-icon{
    margin-top: -13px;
    margin-left: 2px;
}
.search-circle-div{
    border-style: solid;
    border-width: 2px;
    border-radius: 5%;
    width: 136px;
    height: 46px;
    padding: 0px 0px 0px 0px;
    margin-top: 10px;
}
.search-circle-div:hover{
    background-color: darkblue;
}

.preloader div#preloader.active {
    position: fixed;
    left: 0;
    top: 0;
    z-index: 999;
    width: 100%;
    height: 100%;
    overflow: visible;
    background:transparent url('../images/loading.gif') no-repeat center center;
}
