.goLogo{
   height:auto;
    width: 53%;
    margin-top: 6px;
    margin-left: 12px;
}
.background-color{
    background-color: whitesmoke;
}
.search-bar {

}

.search-bar-background{
    background-color: #2d67b2;
}